/* CSS for "Unit Converter" web app page (custom) */

/* Root element (for global font settings) */
html {
    color: #333333;
    font-family: Georgia, serif;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
}

/* Background */
body {
    background-attachment: fixed;
    background-color: #d0efff;
    background-position: top left;
    background-repeat: no-repeat;

}

/* All HTML items (avoid margin errors) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

#base_header {
    align-content: center;
    align-items: center;
    background-color: #03254c;
    color:  #f5f5f5;
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    overflow: hidden;
    padding: 2vh 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#head_title {
    width: 80vw;
}

/* Containers */

.container {
    align-content: space-around;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.horizontal {
    flex-flow: row wrap;
}

.vertical {
    flex-flow: column wrap;
    padding: 1em;
}

.margined {
    margin-bottom: 12vh;
    margin-top: 24vh;
}

/* Container items */

.item {
    padding: 2vh 1vw;
}

.title {
    flex-basis: 100%;
    margin: 1.5vw;
}

.one_third {
    flex-basis: 25%;
}

.half_wide {
    flex-basis: 35%;
}

.full_wide {
    flex-basis: 100%;
}

.bordered {
    border: 2px solid #1167b1;
    border-radius: 8px;
}

.result {
    align-content: center;
    align-items: center;
    background-color: #1167b1;
    color: #f5f5f5;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5em;
    height: 10em;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    width: 20vw;
}

/* Text */

label {
    font-size: 1.2em;
}

select {
    /* background-color: #bcdaec; */
    font-size: 0.8em;
    padding: 0.2em;
    margin: 0.5em;
    text-align: center;
    width: 20vw;
}

input {
    font-size: 0.8em;
    padding: 0.2em;
    margin: 0.5em;
    text-align: center;
    width: 20vw;
}

p.info {
    align-content: center;
    align-items: center;
    background-color: #1167b1;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    padding: 0 2em;
    text-decoration: none;
    width: 25vw;
}

p.info.large {
    height: 10em;
}

p.info.small {
    height: 5em;
}

.text {
    max-width: 70vw;
    text-align: justify;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

/* Clickable */

button {
    background-color: #5d63ac;
    border-radius: 0.3em;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;
    transition: 0.4s;
}

button.small {
    font-size: 0.75em;
    height: 3em;
    width: 12em;
}

button.normal {
    font-size: 1em;
    height: 3.5em;
    width: 14em;
}

button:hover {
    opacity: 1;
    transition: 0.4s;
}

span.link {
    cursor: pointer;
    transition: 0.4s;
}

span.link:hover {
    color: #9f9f9f;
    transition: 0.4s;
}

/* Footer */

#base_footer {
    align-content: space-around;
    align-items: center;
    background-color: #03254c;
    bottom: 0;
    color: #f5f5f5;
    display: flex;
    font-size: 1rem;
    font-weight: normal;
    gap: 0.5em 1em;
    justify-content: center;
    overflow: hidden;
    padding: 1.5vh;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* On smaller screens: downscale header.
@media only screen and (max-width: 1024px) {
    #myHeader {
        font-size: 1.75rem
    }
}

On mobile screens: downscale some fonts, increase container margin.
@media only screen and (max-width: 480px) {
    #myHeader {
        font-size: 1.3rem
    }

    .container {
        margin-bottom: 16vh;
        margin-top: 16vh;
    }
} */
