<!-- About page -->
{% extends "base.html" %}
{% block body %}
<div class="container horizontal">
  <!-- Title -->
  <div class="item title">
    <h1>{{ _("Leírás") }}</h1>
  </div>
  <span class="spacer-normal"></span>
  <!-- Hungarian -->
  <div class="item title">
    <h2>{{ _("Magyar") }}</h2>
  </div>
  <div class="item">
    <p class="body-text">
      E webalkalmazás egy könnyen használható átváltó történelmi mértékegységek
      számára. Célja, hogy segítse mind a kutatókat, mind az eligazodni vágyókat
      a történelmi mértékegységek konvertálásában. Szemben az interneten
      elérhető más átváltókkal, jelen projektben minden információ megbízható
      szakirodalmi forrásból származik, eredetük a mértékegység-adatbázisban
      részletesen jelölve van és ellenőrizhető. A felületen megjelenő rövid
      információk ellátják a felhasználót a kiválasztott mértékegységek és
      mértékegység&shy;rendszerek alapvető kontextusával. Az alkalmazás
      elérhető magyar és angol felülettel egyaránt.
    </p>
  </div>
  <div class="item title">
    <h3>Adatbázis</h3>
  </div>
  <div class="item">
    <p class="body-text">
      Az adatbázis pillanatnyilag főképp a történelmi Ausztriához és
      Magyarországhoz kapcsolódó mértékegység&shy;rendszereket tartalmaz, csakúgy,
      mint az ókori görög és római mértékeket; ugyanakkor bármely
      mértékegység&shy;rendszer bevezethető, és ezek hozzáadása folyamatos. Minden
      modern metrikus és lényegi angolszász mértékegység szerepel viszonyítás
      végett. Az adatbázis tartalma
      <a href="https://github.com/OperaVaria/unit-converter-web/tree/main/database"
      target="_blank">külön hozzáférhető</a>
      sqlite, csv és json formátumban egyaránt.
    </p>
    <p class="body-text">
      Az ógörög szavak átírásakor az úgynevezett "tudományos" átírást követtük.
    </p>
  </div>
  <div class="item title">
    <h3>Műszaki háttér</h3>
  </div>
  <div class="item">
    <p class="body-text">
      Projektünk a Flask web frameworkre épül, Python backenddel és hagyományos
      HTML-CSS-JS frontenddel, külső weboldal sablon nem került felhasználásra.
      A légördülő menük a
      <a href="https://github.com/Choices-js/Choices" target="_blank">Choices.js</a>
      plugin felhasználásával készültek.
      Az alkalmazás a HTML oldalak generálásában nagyban támaszkodik a Jinja
      sablon motorra a lehető leg&shy;optimálisabb weboldal-kódolás elérése
      érdekében. A mértékegység-adatbázis az SQLite adatbázis&shy;motorral készült. A
      lokalizáció a Flask-Babel kiegészítő segítségével történik, a
      nyelv&shy;választást az alkalmazás szerver oldali munka&shy;menetekkel rögzíti.
    </p>
  </div>
  <span class="spacer-normal"></span>
  <!-- English -->
  <div class="item title">
    <h2>{{ _("Angol") }}</h2>
  </div>
  <div class="item">
    <p class="body-text">
      This web application is an easy-to-use converter for historical
      measurement units. Its aim is to assist both researchers and regular users
      with the conversion of historical units. Contrary to other converters
      available on the internet, in the present project all information is
      derived from reliable literature, their source is duly noted and
      verifiable in the unit database. The short information notices on the
      interface provide the user with the basic context of the selected unit or
      unit system. The application is available with both English and Hungarian interfaces.
    </p>
  </div>
  <div class="item title">
    <h3>Database</h3>
  </div>
  <div class="item">
    <p class="body-text">
      Currently the database features mostly unit systems connected to the
      historical Austria and Hungary, as well as the Ancient Greek and Roman
      measurements; however any unit system can be implemented, and their
      addition is continuous. All modern metric and relevant Anglo-American
      units are present for reference. The contents of the database
      <a href="https://github.com/OperaVaria/unit-converter-web/tree/main/database"
      target="_blank">is accessible separately</a>
      in either sqlite, csv, or json formats.
    </p>
    <p class="body-text">
      The Ancient Greek words were transliterated following the ALA-LC romanization standard.
    </p>
  </div>
  <div class="item title">
    <h3>Technical background</h3>
  </div>
  <div class="item">
    <p class="body-text">
      Our project is built on the Flask web framework, with a Python backend and
      a conventional HTML-CSS-JS frontend. No external website templates were
      utilized. The drop-down menus were made with the
      <a href="https://github.com/Choices-js/Choices" target="_blank">Choices.js</a>
      plugin. The application relies greatly on the Jinja template engine in
      generating the HTML pages to achieve the most optimal website coding. The
      localization is done with the aid of the Flask-Babel extension, the
      language selection is stored in server-side sessions.
    </p>
  </div>
  <span class="spacer-normal"></span>
  <!-- Buttons -->
  <div class="container horizontal">
    <div class="item">
      <button class="normal"
        onclick="loadPage('/about/sources');">
        {{ _("Irodalom") }}
      </button>
    </div>
    <div class="item">
      <button class="normal"
        onclick="loadNewTab('https://github.com/OperaVaria/unit-converter-web');">
        {{ _("Forráskód") }}
      </button>
    </div>
    <div class="item full-wide">
      <button class="normal" onclick="loadPage('/');">
        {{ _("Vissza") }}
      </button>
    </div>
  </div>  
  <span class="spacer-normal"></span>
</div>
{% endblock body %}
<!-- Main footer with copyright. -->
{% block footer %}
<p class="footer-text">
  &copy; OperaVaria,&#160;<span id="year-location"></span>
</p>
{% endblock footer %}
