<!-- Converter page -->
{% extends "base.html" %}
{% block body %}
<div class="container horizontal margined">
    <!-- Title. -->
    <div class="item title">
      <h1>{{conv_title}}</h1>
    </div>
    <!-- Subtitles. -->
    <div class="item half_wide">
      <h2>Bemenet:</h2>
    </div>
    <div class="item half_wide">
      <h2>Kimenet:</h2>
    </div>
    <!-- Input system box. -->
    <div class="container vertical half_wide bordered">
      <div> <!-- Input system menu, populated by jinja2 on loading. -->
        <label for="input_system">Mértékegységrendszer:</label>
        <br>
        <select name="input_system" id="input_system_menu" onchange="submitValue(this.id, this.value)">
          <option value="" disabled selected>Kérem válasszon:</option>
          {% for raw, gui in unit_sys_dict.items() %}
          <option value={{raw}}>{{gui}}</option>
          {% endfor %}
        </select>
      </div>
      <div> <!-- Input system information box. -->
        <label for="input_system_info">Információ:</label>
        <p id="input_system_info" class="info large bordered">---</p>
      </div>
    </div>
    <!-- Output system box. -->
    <div class="container vertical half_wide bordered">
      <div> <!-- Output system menu, populated by jinja2 on loading. -->
        <label for="output_system">Mértékegységrendszer:</label>
        <br>
        <select name="output_system" id="output_system_menu" onchange="submitValue(this.id, this.value)">
          <option value="" disabled selected>Kérem válasszon:</option>
          {% for raw, gui in unit_sys_dict.items() %}
          <option value={{raw}}>{{gui}}</option>
          {% endfor %}
        </select>
      </div>
      <div><!-- Output system information box. -->
        <label for="output_system_info" >Információ:</label>
        <p id="output_system_info" class="info large bordered">---</p>
      </div>
    </div>
    <!-- Input unit box. -->
    <div class="container vertical half_wide bordered">
      <div> <!-- Input unit menu, populated by JavaScript. -->
        <label for="input_unit">Mértékegység:</label>
        <br>
        <select name="input_unit" id="input_unit_menu" onchange="submitValue(this.id, this.value)">
          <option value="" disabled selected>Kérem válasszon:</option>
        </select>
      </div>
      <div> <!-- Input unit information box. -->
        <label for="input_unit_info">Információ:</label>
        <p id="input_unit_info" class="info small bordered">---</p>
      </div>
    </div>
    <!-- Output unit box. -->
    <div class="container vertical half_wide bordered">
      <div> <!-- Output unit menu, populated by JavaScript. -->
        <label for="output_unit">Mértékegység:</label>
        <br>
        <select name="output_unit" id="output_unit_menu" onchange="submitValue(this.id, this.value)">
          <option value="" disabled selected>Kérem válasszon:</option>
        </select>
      </div>
      <div> <!-- Output unit information box. -->
        <label for="output_unit_info">Információ:</label>
        <p id="output_unit_info" class="info small bordered">---</p>
      </div>
    </div>
    <!-- Calculation and result container. -->
    <div class="container vertical full_wide">
      <!-- Input value item. -->
      <div class="item">
        <label for="input_value">Bemeneti érték:</label>
        <br>
        <input type="number" name="input_value" id="input_value_box" placeholder="Érték" min="0">
      </div>
      <!-- Convert button. -->
      <div class="item">
        <button class="normal" id="convert_btn" onclick="validateConvBtn(this.id, this.value)">Konvertálás</button>
      </div>
      <!-- Result box. -->
      <div class="item result bordered">
        <label for="result_field" class="bold">Eredmény:</label>
        <p id="result_field">---</p>
        <p id="symbol_field">n/a</p>
      </div>
    </div>
    <!-- Reset and back buttons. -->
    <div class="item half_wide">
      <button class="normal" onclick="window.location.reload(true)">Reset</button>
    </div>
    <div class="item half_wide">
      <button class="normal" onclick="loadPage('/')">Vissza</button>
    </div>
</div>
{% endblock body %}
<!-- Footer with buttons to different calculators. -->
{% block footer %}
  <div class="item">
    <button class="small" onclick="loadPage('length')">Hosszúság</button>
  </div>
  <div class="item">
    <button class="small" onclick="loadPage('area')">Terület</button>
  </div>
  <div class="item">
    <button class="small" onclick="loadPage('weight')">Súly</button>
  </div>
  <div class="item">
    <button class="small" onclick="loadPage('dimensionless')">Darabmérték</button>
  </div>
  <div class="item">
    <button class="small" onclick="loadPage('dry_vol')">Szárazmérték</button>
  </div>
  <div class="item">
    <button class="small" onclick="loadPage('liq_vol')">Folyadékmérték</button>
  </div>
{% endblock footer %}
<!-- Additional JavaScript for converter page functionality. -->
{% block js %}
<script src="{{ url_for('static', filename='js/converterScript.js') }}"></script>
{% endblock js %}