<!-- Converter page -->
{% extends "base.html" %}
{% block main %}
<!-- Main container. -->
<main class="container horizontal">
  <!-- Title. -->
  <div class="item title" role="none">
    <h1>{{conv_title}}</h1>
  </div>
  <!-- Side container(s). With a for loop, jinja2 creates two identical containers,
       one with input and one with output attributes -->
  {% set sides = ["input", "output"] %}
  {% for side in sides %}
  <section class="container vertical half-wide" title="{{side|capitalize}}">
    <!-- Subtitle, filled by a jinja2 if statement. -->
    <div class="item" role="none">
      {% if locale == "en" %}
        <h2>{{side|capitalize}}:</h2>
      {% elif locale == "hu" and side == "input" %}
        <h2>Bemenet:</h2>
      {% elif locale == "hu" and side == "output" %}
        <h2>Kimenet:</h2>
      {% endif %}
    </div>
    <!-- Unit system box, bordered. -->
    <div class="container vertical bordered" title="{{ _('Mértékegységrendszer') }}">
      <!-- Unit system selection menu. Swapped out by Choices.js. -->
      <div class="item">
        <label class="label" for="{{side ~ '-system-menu'}}">
          {{ _("Mértékegységrendszer") }}:</label>
        <select name="{{side ~ '-system'}}" id="{{side ~ '-system-menu'}}"
          class="custom-select" hidden>
          <option value="" disabled selected>
            {{ _("Kérem válasszon") }}:</option>
          <!-- Menu populated by jinja2 on loading. -->
          {% for raw, gui in unit_sys_dict.items() %}
          <option value="{{raw}}">{{gui}}</option>
          {% endfor %}
        </select>
      </div>
      <!-- System information box. -->
      <div class="item">
        <h3 class="label">{{ _("Információ") }}:</h3>
        <div class="info-box bordered">
          <p id="{{side ~ '-system-info'}}" class="info-text large">---</p>
        </div>
      </div>
    </div>
    <!-- Unit box, bordered. -->
    <div class="container vertical bordered" title="{{ _('Mértékegység') }}">
      <!-- Unit selection menu. Swapped out by Choices.js. -->
      <div class="item">
        <label class="label" for="{{side ~ '-unit-menu'}}">
            {{ _("Mértékegység") }}:</label>
        <select name="{{side ~ '-unit'}}" id="{{side ~ '-unit-menu'}}"
          class="custom-select" hidden>
          <option value="" disabled selected>
            {{ _("Kérem válasszon") }}:</option>
          <!-- Menu populated by JavaScript after unit system selection. -->
        </select>
      </div>
      <!-- Unit information box. -->
      <div class="item">
        <h3 class="label">{{ _("Információ") }}:</h3>
        <div class="info-box bordered">
          <p id="{{side ~ '-unit-info'}}" class="info-text small">---</p>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <!-- Calculation and result container. -->
  <section class="container vertical full-wide" title="{{ _('Konvertálás') }}">
    <!-- Input value box. -->
    <div class="item" title="{{ _('Bemeneti érték') }}">
      <label class="label" for="input-value-box">
        {{ _("Bemeneti érték") }}:</label>
      <br role="none">
      <input type="number" name="input-value" class="bordered"
        id="input-value-box" placeholder="{{ _('Érték') }}" min="0">
    </div>
    <!-- Convert button. -->
    <div class="item" role="none">
      <button id="convert-btn" class="conv-btn normal">
        {{ _("Konvertálás") }}</button>
    </div>
    <!-- Result box. -->
    <div class="item result-box bordered" title="{{ _('Eredmény') }}">
      <h3>{{ _("Eredmény") }}:</h3>
      <div role="none">
        <p id="result-field" class="result-text" title="{{ _('Érték') }}">---</p>
        <p id="symbol-field" class="result-text" title="{{ _('Rövidítés') }}">n/a</p>
      </div>
    </div>
  </section>
  <!-- Button container. -->
  <section class="container horizontal full-wide" title="{{ _('Gombok') }}">
    <!-- Swap button. -->
    <div class="item" role="none">
      <button id="swap-btn" class="conv-btn normal">
        {{ _("Fordított") }}</button>
    </div>
    <!-- Reset button. -->
    <div class="item" role="none">
      <button id="reset-btn" class="normal">
        {{ _("Reset") }}</button>
    </div>
    <!-- Back button. -->
    <div class="item" role="none">
      <button data-target="/" class="link-btn normal">
        {{ _("Vissza") }}</button>
    </div>
  </section>
  <span class="spacer-normal"></span>
</main>
{% endblock main %}
<!-- Two sets of footer content, one for smaller screens. -->
{% block footer %}
<!-- Complex, larger footer with buttons, built by jinja2 loop.-->
{% for raw, title in cat_dict.items() %}
<div class="item desktop-view" role="none">
  <button data-target="{{'/' ~ raw}}" class="link-btn small">{{title}}</button>
</div>
{% endfor %}
<!-- Basic footer with copyright. -->
<p class="footer-text mobile-view" role="none">
  &copy; OperaVaria, {{current_year}}
</p>
{% endblock footer %}
<!-- Additional JavaScript for converter page functionality. -->
{% block js %}
<!-- Text strings that need gettext handling. -->
<script>
  const searchPlaceholder = "{{ _('Keresés') }}";
  const noResult = "{{ _('Nincs találat') }}";
  const errorText = "{{ _('Hiba!') }}";
  const missingValue = "{{ _('Hiányzó vagy rossz érték!') }}";
  const missingInput = "{{ _('Hiányzó bemeneti mértékegység!') }}";
  const missingOutput = "{{ _('Hiányzó kimeneti mértékegység!') }}";
</script>
<!-- Script file for Choices.js. -->
<script
  src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js">
</script>
<!-- Script file for converter page. -->
<script src="{{ url_for('static', filename='js/converterScript.js') }}"></script>
{% endblock js %}
