<!-- Main Menu -->
{% extends "base.html" %}
{% block body %}
<div class="container horizontal">
  <!-- Title -->
  <div class="item title">
    <h1>{{ _("Metrikus, angolszász, hagyományos, történelmi") }}</h1>
  </div>
  <!-- Button builder jinja2 loop (unit category selector buttons for main menu).-->
  {% for raw, gui in cat_dict.items() %}
  <div class="item one-third">
    <button id="{{raw}}" class="link-btn normal">{{gui}}</button>
  </div>
  {% endfor %}
  <!-- About page button. -->
  <div class="item full-wide">
    <button id="/about" class="link-btn normal">{{ _("Információ") }}</button>
  </div>
  <!-- Language selection buttons. -->
  <div class="item full-wide">
    <form action="{{ url_for('receive_post') }}" method="post">
      <div class="item">
        <h2 class="label">{{ _("Nyelv") }}:</h2>
      </div>
      <div class="container horizontal">
        <button class="small" name="locale-btn" type="submit" value="hu">{{ _("Magyar") }}</button>
        <button class="small" name="locale-btn" type="submit" value="en">{{ _("Angol") }}</button>
      </div>
    </form>
  </div>
  <span class="spacer-small"></span>
  <!-- Version number. -->
  <div class="item full-wide">
    <h3> {{ _("Verzió") }} - {{version}}</h3>
  </div>
  <span class="spacer-large"></span>
</div>
{% endblock body %}
<!-- Main footer with copyright. -->
{% block footer %}
<p class="footer-text">&copy; OperaVaria,&#160;<span id="year-location"></span></p>
{% endblock footer %}
