<!-- Sources page -->
{% extends "base.html" %}
{% block main %}
<main class="container about-page">
  <!-- Title. -->
  <div class="item title" role="none">
    <h1>{{ _("Felhasznált irodalom") }}</h1>
  </div>
  <!-- List of consulted works, populated by jinja2 loop from dictionary. -->
  <article class="item bibl-text" title="{{ _('Lista') }}">
    <dl>
      {% for author_date, entry in source_dict.items() %}
      <dt>{{author_date}}</dt>
        <dd>{{entry|safe}}</dd>
      {% endfor %}
    </dl>
  </article>
  <!-- Back button. -->
  <nav class="item full-wide buttons" title="{{ _('Gombok') }}">
    <button data-target="/about" class="link-btn normal">{{ _("Vissza") }}</button>
  </nav>
</main>
{% endblock main %}
<!-- Basic footer with copyright. -->
{% block footer %}
<p class="footer-text" role="none">
  &copy; OperaVaria, {{current_year}}
</p>
{% endblock footer %}
