<!-- Sources page -->
{% extends "base.html" %}
{% block body %}
<div class="container horizontal">
  <!-- Title. -->
  <div class="item title">
    <h1>{{ _("Felhasznált irodalom") }}</h1>
  </div>
  <span class="spacer-small"></span>
  <!-- List of consulted works, populated by jinja2 loop from dictionary. -->
  <div class="item bibl-text">
    <dl>
      {% for author_date, entry in source_dict.items() %}
      <dt>{{author_date}}</dt>
        <dd>{{entry|safe}}</dd>
      {% endfor %}
    </dl>
  </div>
  <span class="spacer-small"></span>
  <!-- Back button. -->
  <div class="item full-wide">
    <button data-target="/about" class="link-btn normal">{{ _("Vissza") }}</button>
  </div>
  <span class="spacer-normal"></span>
</div>
{% endblock body %}
<!-- Basic footer with copyright. -->
{% block footer %}
<p class="footer-text">
  &copy; OperaVaria,&#160;<span id="year-location"></span>
</p>
{% endblock footer %}
